/* .select-sort {
    display: block;
    position: relative;
  } */
  /* .select-sort::after {
    width: 30px;
    height: 20px;
    content: "";
    position: absolute;
    top: 12px;
    left: 240px;
    display: inline-block;
    z-index: 0;
    background: url(../img/bottom-arrow.png);
    background-repeat: no-repeat;
  } */
  /* select[name="sortBy"] {
    width: 208px;
    height: 40px;
    padding: 4px 10px 6px 8px;
    border: 0;
    border-bottom: 1px solid lightgray;
    margin-left: 18px;
    font-size: 16px;
    position: relative;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  } */

  select::-ms-expand {
    display: none;
}
select {
    width: 200px; 
    padding: .8em .5em; 
    border: 1px solid #999;
    border-radius: 10px;
    font-family: inherit;  
    background: url('arrow.jpg') no-repeat 95% 50%; 
    border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    }